<div class="event">
  <div class="content">
    <div class="summary">
      <em>
        <%= message.user.username %>
      </em>
    </div>
    <div class="extra text">
      <%= message.body %>
    </div>
  </div>
</div>