@import "semantic-ui";

.ui.cards > .card > .extra, .ui.card > .extra {
  min-height: 4.5em !important;
}

.flashbox {
  margin-bottom: 1em !important;
}

.chatbox {
  height: 450px;
  .scrollable {
    overflow-y: auto;
  }
  button {
    display: none;
  }
}

