@import "semantic-ui";

.ui.cards > .card > .extra, .ui.card > .extra {
  min-height: 4.5em !important;
}

.flashbox {
  margin-bottom: 1em !important;
}

.chatbox {
  height: 450px;
  .scrollable {
    overflow-y: auto;
  }
  button {
    display: none;
  }
}

.button a {
  color: white;
}

.ui.input input, .ui.input .field_with_errors {
  width: inherit !important;
}

.ui.input .field_with_errors input {
  padding-left: 3em;
}

.signup-form {
  text-align: center;
}
